#mainPanel {
    -fx-background-color: white;
}

#mediaViewPanel {
    -fx-border-width: 2px;
    -fx-border-color: rgb(172, 172, 172);
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

#viewPanel,
#queuePanel {
    -fx-padding: 10px;
}