#mainPanel {
    -fx-background-color: white;
}

#mediaViewPanel {
    -fx-border-width: 5px;
    -fx-border-color: rgb(206, 206, 206);
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

#viewPanel,
#queuePanel {
    -fx-padding: 10px;
}

#queueListPanel {
    -fx-padding: 0px;
}

#videoCardPanel {
    -fx-padding: 10px;
    -fx-background-color: white;
}

#videoCardPanel:hover {
    -fx-background-color: rgb(168, 168, 168);
}

#thumbnail{
    -fx-border-color: black;
}